QMainWindow {
    background-color: #f4f4f6;
}

QListWidget{

    background-color: #f4f4f6;

    font-size: 42px;

    margin: 0px 0px 10px 0px;

    border: none;

    min-height: 740px;

}

QListWidget::item:selected {
    background-color: #e6e6e9;

    border-radius: 8px;
}

