QMainWindow {
    background-color: palette(window);
}

QWidget {
    font-family: "Roboto";
    font-size: 14px;
}

QListWidget{

    background-color: palette(window);

    font-size: 42px;

    margin: 0px 0px 10px 0px;

    border: none;


}

QListWidget::item:selected {
    background-color: #e6e6e9;

    border-radius: 8px;
}

QLineEdit {
    min-height: 48px;

    font-size: 42px;
}

QLineEdit::placeholder {
    color: #e6e6e9;
}


QLabel#hintLabel {
    font-size: 64px;
    font-weight: 600;
    color: palette(text);
    letter-spacing: 2px;
}


QLabel#subHintLabel {
    font-size: 18px;
    font-weight: 400;
    color: palette(placeholder-text);
    letter-spacing: 1px;
}
